[Desktop Entry]
Name=Bongo Penguin
Comment=Reacts to your keyboard and mouse input
Type=Application
Exec=cosmic-applet-bongo-penguin
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;BongoPenguin;Penguin;Tux;
Icon=com.github.bongopenguin.CosmicAppletBongoPenguin
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
